In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import mysql.connector
from mysql.connector import Error

try:
    # Membuat koneksi ke database MySQL
    connection = mysql.connector.connect(
        host='localhost',          # Nama host atau IP server MySQL
        database='PerpustakaanDigital',  # Nama database yang akan digunakan
        user='root',               # Username MySQL (sesuaikan)
        password=''        # Password MySQL (sesuaikan)
    )
    
    if connection.is_connected():
        print("Koneksi ke MySQL berhasil!")       
        # Membuat cursor untuk eksekusi query
        cursor = connection.cursor()
        
        # Menjalankan query SQL
        cursor.execute("SELECT DATABASE();")
        record = cursor.fetchone()
        print(f"Anda terhubung ke database: {record[0]}")

        # Menampilkan semua data anggota
        print("\nData Anggota:")
        cursor.execute("SELECT * FROM Anggota;")
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Update Status Peminjaman yang Sudah Lewat Tanggal Kembali
        cursor.execute("UPDATE Peminjaman SET Status = 'Overdue' WHERE Tanggal_Kembali < CURDATE();")
        connection.commit()
        print("\nStatus peminjaman yang sudah lewat tanggal kembali telah diperbarui.")

        # Menambahkan 10 Eksemplar Buku "Pemrograman Python"
        cursor.execute("UPDATE Buku SET Jumlah = Jumlah + 10 WHERE Judul_Buku = 'Pemrograman Python';")
        connection.commit()
        print("\n10 eksemplar buku 'Pemrograman Python' telah ditambahkan.")

        # Hapus Data Anggota yang Tidak Aktif Selama Lebih dari Satu Tahun
        cursor.execute("""
        DELETE FROM Anggota
        WHERE ID_Anggota NOT IN (
            SELECT DISTINCT ID_Anggota
            FROM Peminjaman
            WHERE Tanggal_Pinjam > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        );
        """)
        connection.commit()
        print("\nData anggota yang tidak aktif selama lebih dari satu tahun telah dihapus.")

        # Menampilkan data tabel Petugas
        print("\nData Petugas:")
        cursor.execute("SELECT * FROM Petugas;")
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Menampilkan judul buku dan pengarang dari tabel Buku yang diterbitkan setelah tahun 2015
        print("\nJudul Buku dan Pengarang (Tahun Terbit > 2015):")
        cursor.execute("SELECT Judul_Buku, Pengarang FROM Buku WHERE Tahun_Terbit > 2015;")
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Menampilkan nama anggota yang memiliki jumlah peminjaman lebih dari 3 buku
        print("\nNama Anggota dengan Peminjaman > 3 buku:")
        cursor.execute("""
        SELECT Nama
        FROM Anggota
        WHERE ID_Anggota IN (
            SELECT ID_Anggota
            FROM Peminjaman
            JOIN Detail_Peminjaman ON Peminjaman.ID_Peminjaman = Detail_Peminjaman.ID_Peminjaman
            GROUP BY ID_Anggota
            HAVING SUM(Jumlah_Buku) > 3
        );
        """)
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Buku yang paling banyak dipinjam
        print("\nBuku yang Paling Banyak Dipinjam:")
        cursor.execute("""
        SELECT Judul_Buku
        FROM Buku
        WHERE ID_Buku = (
            SELECT ID_Buku
            FROM Detail_Peminjaman
            GROUP BY ID_Buku
            ORDER BY SUM(Jumlah_Buku) DESC
            LIMIT 1
        );
        """)
        result = cursor.fetchone()
        print(result)

        # Menampilkan nama anggota, judul buku yang dipinjam, dan tanggal peminjaman
        print("\nNama Anggota, Judul Buku, dan Tanggal Peminjaman:")
        cursor.execute("""
        SELECT A.Nama, B.Judul_Buku, P.Tanggal_Pinjam
        FROM Anggota A
        JOIN Peminjaman P ON A.ID_Anggota = P.ID_Anggota
        JOIN Detail_Peminjaman DP ON P.ID_Peminjaman = DP.ID_Peminjaman
        JOIN Buku B ON DP.ID_Buku = B.ID_Buku;
        """)
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Petugas yang mengelola peminjaman terakhir
        print("\nPetugas yang Mengelola Peminjaman Terakhir:")
        cursor.execute("""
        SELECT Petugas.Nama_Petugas
        FROM Petugas
        JOIN Peminjaman ON Petugas.ID_Petugas = Peminjaman.ID_Anggota
        ORDER BY Tanggal_Pinjam DESC
        LIMIT 1;
        """)
        result = cursor.fetchone()
        print(result)

        # Total buku yang ada di perpustakaan
        print("\nTotal Buku di Perpustakaan:")
        cursor.execute("SELECT SUM(Jumlah) AS Total_Buku FROM Buku;")
        result = cursor.fetchone()
        print(result)

        # Rata-rata jumlah buku yang dipinjam per anggota
        print("\nRata-rata Jumlah Buku yang Dipinjam per Anggota:")
        cursor.execute("SELECT AVG(Jumlah_Buku) AS Rata2_Buku_Dipinjam FROM Detail_Peminjaman;")
        result = cursor.fetchone()
        print(result)

        # Kelompok buku berdasarkan kategori dan hitung jumlah buku di setiap kategori
        print("\nJumlah Buku per Kategori:")
        cursor.execute("""
        SELECT Kategori, SUM(Jumlah) AS Jumlah_Buku
        FROM Buku
        GROUP BY Kategori;
        """)
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Kelompok anggota berdasarkan Alamat dan hitung jumlah anggota per kota
        print("\nJumlah Anggota per Kota:")
        cursor.execute("""
        SELECT Alamat, COUNT(*) AS Jumlah_Anggota
        FROM Anggota
        GROUP BY Alamat;
        """)
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Menampilkan Nama Anggota dalam Huruf Kapital
        print("\nNama Anggota dalam Huruf Kapital:")
        cursor.execute("SELECT UPPER(Nama) AS Nama_Kapital FROM Anggota;")
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Menemukan Anggota yang Memiliki Nama Belakang "Putra"
        print("\nAnggota dengan Nama Belakang 'Putra':")
        cursor.execute("SELECT Nama FROM Anggota WHERE Nama LIKE '%Putra';")
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Menghitung Usia Setiap Anggota Berdasarkan Tanggal Lahir
        print("\nUsia Setiap Anggota:")
        cursor.execute("""
        SELECT Nama, Tanggal_Lahir, TIMESTAMPDIFF(YEAR, Tanggal_Lahir, CURDATE()) AS Usia
        FROM Anggota;
        """)
        result = cursor.fetchall()
        for row in result:
            print(row)

        # Menampilkan Peminjaman yang Dilakukan dalam 30 Hari Terakhir
        print("\nPeminjaman dalam 30 Hari Terakhir:")
        cursor.execute("SELECT * FROM Peminjaman WHERE Tanggal_Pinjam >= CURDATE() - INTERVAL 30 DAY;")
        result = cursor.fetchall()
        for row in result:
            print(row)

except Error as e:
    print(f"Error saat terhubung ke MySQL: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Koneksi ke MySQL ditutup.")

Koneksi ke MySQL berhasil!
Anda terhubung ke database: perpustakaandigital

Data Anggota:
(1, 'Ahmad Fauzi', 'Jl. Mawar No. 12', datetime.date(1985, 6, 10), 'ahmad@mail.com')
(2, 'Budi Putra', 'Jl. Melati No. 3', datetime.date(1990, 2, 18), 'budi@mail.com')
(3, 'Citra Dewi', 'Jl. Cendana No. 7', datetime.date(1992, 7, 15), 'citra@mail.com')
(4, 'Dian Sari', 'Jl. Kamboja No. 11', datetime.date(1988, 11, 5), 'dian@mail.com')
(5, 'Eko Saputra', 'Jl. Anggrek No. 9', datetime.date(1987, 3, 25), 'eko@mail.com')

Status peminjaman yang sudah lewat tanggal kembali telah diperbarui.

10 eksemplar buku 'Pemrograman Python' telah ditambahkan.

Data anggota yang tidak aktif selama lebih dari satu tahun telah dihapus.

Data Petugas:
(1, 'Andi Saputra', 'Admin', datetime.date(2022, 1, 1), '081234567890')
(2, 'Rina Wahyuni', 'Librarian', datetime.date(2023, 3, 15), '089876543210')

Judul Buku dan Pengarang (Tahun Terbit > 2015):
('Pemrograman Python', 'John Doe')
('Data Science', 'Jane Smith')
('Algoritma dan Struktur Data', 'Ahmad Zaki')
('Kecerdasan Buatan', 'Andi Setiawan')

Nama Anggota dengan Peminjaman > 3 buku:

Buku yang Paling Banyak Dipinjam:
('Pemrograman Python',)

Nama Anggota, Judul Buku, dan Tanggal Peminjaman:
('Ahmad Fauzi', 'Pemrograman Python', datetime.date(2024, 1, 10))
('Budi Putra', 'Data Science', datetime.date(2024, 1, 15))
('Citra Dewi', 'Algoritma dan Struktur Data', datetime.date(2024, 1, 20))
('Dian Sari', 'Kecerdasan Buatan', datetime.date(2024, 1, 25))
('Eko Saputra', 'Jaringan Komputer', datetime.date(2024, 1, 30))

Petugas yang Mengelola Peminjaman Terakhir:
('Rina Wahyuni',)

Total Buku di Perpustakaan:
(Decimal('86'),)

Rata-rata Jumlah Buku yang Dipinjam per Anggota:
(Decimal('1.0000'),)

Jumlah Buku per Kategori:
('Pemrograman', Decimal('63'))
('Teknologi', Decimal('23'))

Jumlah Anggota per Kota:
('Jl. Anggrek No. 9', 1)
('Jl. Cendana No. 7', 1)
('Jl. Kamboja No. 11', 1)
('Jl. Mawar No. 12', 1)
('Jl. Melati No. 3', 1)

Nama Anggota dalam Huruf Kapital:
('AHMAD FAUZI',)
('BUDI PUTRA',)
('CITRA DEWI',)
('DIAN SARI',)
('EKO SAPUTRA',)

Anggota dengan Nama Belakang 'Putra':
('Budi Putra',)
('Eko Saputra',)

Usia Setiap Anggota:
('Ahmad Fauzi', datetime.date(1985, 6, 10), 39)
('Budi Putra', datetime.date(1990, 2, 18), 34)
('Citra Dewi', datetime.date(1992, 7, 15), 32)
('Dian Sari', datetime.date(1988, 11, 5), 35)
('Eko Saputra', datetime.date(1987, 3, 25), 37)

Peminjaman dalam 30 Hari Terakhir:
Koneksi ke MySQL ditutup.